# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/

# Environment variables
.env
.env.*

# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
__MACOSX/

# Build and cache
build/
dist/
*.egg-info/
.pytest_cache/
.mypy_cache/
